<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.fullName}"></title>
    <link rel="stylesheet" th:href="@{/style/css/style.css}">
</head>
  <body>
      <div class="wrapper">
          <header class="header">
              <div class="header__container container">
                  <div class="header__below-row">
                      <a th:href="@{/posts}" class="header__below-row_link">Posts</a>
                      <a th:href="@{/theme}" class="header__below-row_link">Themes</a>
                      <a th:if="${principal == null}" th:href="@{/login}" class="header__below-row_link">Login</a>
                      <a th:if="${principal == null}" th:href="@{/sing-in}" class="header__below-row_link">Sing in</a>
                      <form method="post" th:if="${principal != null}" th:action="@{/logout}">
                          <button class="header__below-row_link" type="submit">Logout</button>
                      </form>
                  </div>
              </div>
          </header>
          <main class="main">
              <div class="main__container container">
                  <div class="profile">
                      <ul>
                          <li class="profile__name" th:text="${user.fullName}"></li>
                          <li class="profile__name" th:text="${user.email}"></li>
                      </ul>
                  </div>
                  <ul class="posts">
                      <li class="posts__post" th:each="post: ${user.posts}">
                          <h3 class="post__title" th:text="${post.title}"></h3>
                          <div class="post__row">
                              <div class="post__text" th:if="${post.text.length > 300}" th:utext="${#strings.substring(post.text, 0, 300)}"></div>
                              <div class="post__text" th:if="${post.text.length <= 300}" th:utext="${post.text}"></div>
                              <div th:if="${post.images.size() != 0}" class="post__wrapper-img">
                                  <img th:src="@{/posts/images/{id}(id=${post.previousId})}"
                                       class="post__img" alt="">
                              </div>
                          </div>
                          <div class="post__low-row">
                              <a th:href="@{/posts/{id}(id=${post.id})}" class="post__read-more">READ MORE</a>
                              <a class="post__author" th:if="${post.isByAnonymous == false}" th:href="@{/users/{id}(id=${post.user.id})}" th:text="${post.user.getFullName()}"></a>
                              <h5 class="post__author" th:if="${post.isByAnonymous == true}">Anonymous</h5>
                          </div>
                      </li>
                   </ul>
              </div>
          </main>
      </div>
  </body>
</html>