.new-post {

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: #000000;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 10px;
  }

  &__field {
    outline: 1px solid #ffffff;
    background-color: #000000;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition-duration: .3s;
    &:focus {
      transition-duration: .3s;
      box-shadow: 0 0 20px 0 #ffffff;
    }
  }

  &__textarea {
    min-width: 100%;
    max-width: 100%;
    height: 200px;
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 10px;
    transition-duration: .3s;
    &:focus {
      transition-duration: .3s;
      box-shadow: 0 0 20px 0 #ffffff;
    }
  }

  &__select {
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid #ffffff;
    height: 40px;
    font-size: 20px;
    background-color: #000000;
  }

  &__images {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: 591px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 415px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__button {
    margin-top: 10px;
    border-radius: 10px;
    background-color: #ff0000;
    color: #ffffff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    transition-duration: .3s;
    &:hover {
      transition-duration: .3s;
      background-color: #fe5151;
    }
  }
}
