.selected-post-title {
  margin-top: -150px;
  margin-bottom: 30px;
}
.selected-post-text {
}
.images__block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 30px;
  @media (max-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.selected-post-img {
  cursor: pointer;
  height: 300px;
  object-fit: cover;
  @media (max-width: 1480px) {
    height: 200px;
  }
}
.images__block-main {
}
.selected-post-main-img {
  max-width: 100%;
  display: none;
  object-fit: cover;
  z-index: 1;
}
.selected-post-main-img._active {
  display: block;
  text-align: center;
}
.images__block-main-button {
  display: none;
}
.images__block-main-button._active {
  display: block;
  z-index: 2;
  cursor: pointer;
}
.comments__post {
  display: none;
}
.comments__post._active {
  display: block;
}
.comments {
  &__title {
    color: #ffffff;
    font-size: 60px;
    margin-top: 30px;
  }
  &__posts {
    margin-top: -150px;
    position: relative;
    margin-left: 20px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -20px;
      height: 100%;
      width: 5px;
      background-color: #ffffff;

    }
  }
  &__post {
    &:first-child {
      margin-top: 200px;
    }
    margin-top: 20px;
  }
  &__button {
    background-color: #ffffff;
    font-size: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
  }
}
.comments__button._hidden {
  display: none;
}
.comment {

  &__form {
    margin-top: 20px;
    display: flex;
    gap: 20px;
  }

  &__form-like-label {
  }

  &__form-like-button {
    display: none;
  }

  &__form-dislike-label {
  }

  &__form-dislike-button {
    display: none;
  }
}

.info-like-dislike {
  margin-top: 10px;
}
.like-info {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 5px;
}
.dislike-info {
  font-size: 20px;
  color: #ffffff;
}
