<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style/css/style.css}">
    <title th:text="${nameOfPage}"></title>
</head>
    <body>
        <div class="wrapper">
            <header class="header">
                <div class="header__container container">
                    <div class="header__first-row">
                        <a th:href="@{/posts}" class="header__logo">WH</a>
                        <ul class="header__first-list">
                            <li th:if="${principal == null}" class="header__first-item">
                                <a th:href="@{/login}" class="header__first-link">Login</a>
                            </li>
                            <li th:if="${principal == null}" class="header__first-item">
                                <a th:href="@{/login}" class="header__first-link">Sing in</a>
                            </li>
                            <li class="header__first-item">
                                <form th:if="${principal != null}" method="post" th:action="@{/logout}">
                                    <button class="header__first-link">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div th:if="${!IsNotPageOfAllPosts}" class="header__second-row">
                        <div class="header__main-search main-search">
                            <form method="get" th:action="@{/posts/search}" class="main-search__form">
                                <input placeholder="Post search" th:value="${name}" name="name" class="main-search__field" type="text">
                                <button id="button-search" class="main-search__button">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="header__third-row">
                        <nav class="header__navbar">
                            <ul class="header__third-list">
                                <li class="header__third-item">
                                    <a th:href="@{/posts}" class="header__third-link">Posts</a>
                                </li>
                                <li class="header__third-item">
                                    <a th:href="@{/posts/new}" class="header__third-link">New post</a>
                                </li>
                                <li class="header__third-item">
                                    <a th:href="@{/theme}" class="header__third-link">Themes</a>
                                </li>
                                <li class="header__third-item">
                                    <a th:href="@{/users}" class="header__third-link">Users</a>
                                </li>
                                <li class="header__third-item">
                                    <a th:href="@{/profile}" class="header__third-link">Profile</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <div class="main">
                <div class="main__container container">
                    <div class="posts">
                        <div class="posts__post" th:each="post: ${all_posts}">
                            <a th:href="@{/posts/{id}(id=${post.id})}" class="post__title" th:text="${post.title}"></a>
                            <div class="post__row">
                                <div class="post__text" th:if="${post.text.length > 300}" th:utext="${#strings.substring(post.text, 0, 300) + '...'}"></div>
                                <div class="post__text" th:if="${post.text.length <= 300}" th:utext="${post.text}"></div>
                                <div th:if="${post.previousId != null}" class="post__image-wrapper">
                                    <img class="post__image" th:src="@{/posts/images/{id}(id=${post.previousId})}" alt="">
                                </div>
                            </div>
                            <div class="post__rating-row">
                                <h3 class="post__list-link post__rating" th:text="${post.numberOfLikes} + ' likes'"></h3>
                                <h3 class="post__list-link post__rating" th:text="${post.numberOfDislikes} + ' dislikes'"></h3>
                            </div>
                            <div class="post__links">
                                <ul class="post__list-properties">
                                    <li class="post__list-item">
                                        <a th:href="@{/posts/{id}(id=${post.id})}" class="post__list-link">READ MORE</a>
                                    </li>
                                    <li class="post__list-item" th:if="${post.isByAnonymous == false}">
                                        <a th:href="@{/users/{id}(id=${post.user.id})}" class="post__list-link" th:text="${post.user.getFullName()}"></a>
                                    </li>
                                    <li class="post__list-item"  th:if="${post.isByAnonymous == true}">
                                        <h5 class="post__list-link">Anonymous</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>