<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${nameOfPage}"></title>
</head>
  <body>
    <form method="POST" th:action="@{/posts}" th:object="${post}" enctype="multipart/form-data">
      <label>
        <input type="text" th:field="${post.title}">
      </label>
      <label>
        <textarea th:field="${post.text}"></textarea>
      </label>
      <label>
        <select th:field="${post.theme}">
            <option th:each="theme: ${T(com.example.WriteHere.model.post.Theme).values()}" th:value="${theme}" th:text="${theme.displayName}"></option>
        </select>
      </label>
      <input type="file" name="images" multiple="multiple">
      <input type="file" name="images" multiple="multiple">
      <input type="file" name="images" multiple="multiple">
      <input type="file" name="images" multiple="multiple">
      <input type="file" name="images" multiple="multiple">
      <input type="file" name="images" multiple="multiple">
      <button type="submit">New post</button>
    </form>
  </body>
</html>