<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${nameOfPage}"></title>
</head>
    <body>
        <div>
            <h2 th:text="${post.title}"></h2>
            <a th:if="${post.user != null}" th:href="@{/user/{id}(id=${post.user.id})}" th:text="${post.user.getFullName()}"></a>
            <h5 th:if="${post.user == null}">Anonymous</h5>
            <p th:text="${post.text}"></p>
            <ul>
                <li th:each="image: ${images}">
                    <img th:src="@{/posts/images/{id}(id=${image.id})}" alt="">
                </li>
            </ul>
            <h5 th:text="${post.dateOfCreated}"></h5>
            <h5 th:text="${post.getNumberOfLikes()} + ' likes'"></h5>
            <h5 th:text="${post.getNumberOfDislikes()} + ' dislikes'"></h5>
            <div th:if="${principal != null}">
                <form  th:method="PATCH" th:action="@{/posts/{id}/like(id=${post.id})}">
                    <button type="submit">Like</button>
                </form>
                <form th:method="PATCH" th:action="@{/posts/{id}/dislike(id=${post.id})}">
                    <button type="submit">Dislike</button>
                </form>
            </div>
            <br><br><br><br>
            <hr>
            <form method="POST" th:action="@{/posts/{id}/add_comment(id=${post.id})}" th:object="${comment}" enctype="multipart/form-data">
                <label>
                    <textarea th:field="${comment.text}"></textarea>
                </label>
                <input type="file" name="images" multiple="multiple">
                <input type="file" name="images" multiple="multiple">
                <input type="file" name="images" multiple="multiple">
                <input type="file" name="images" multiple="multiple">
                <input type="file" name="images" multiple="multiple">
                <input type="file" name="images" multiple="multiple">
                <button type="submit">New comment</button>
            </form>
            <form th:if="${principal != null}" method="post" th:action="@{/posts/{id}/report(id=${post.id})}" th:object="${report}">
                <label>
                    <textarea th:field="${report.message}"></textarea>
                </label>
                <label>
                    <select th:field="${report.complaintType}">
                        <option th:each="value: ${T(com.example.WriteHere.model.report.ComplaintType).values()}"
                                th:value="${value}"
                                th:text="${value.displayName}"></option>
                    </select>
                </label>
                <button type="submit">New report</button>
            </form>

            <ul>
                <li th:each="comment: ${comments}">
                    <a th:if="${comment.user != null}" th:href="@{/user/{id}(id=${comment.user.id})}" th:text="${comment.user.getFullName()}"></a>
                    <h5 th:if="${comment.user == null}">Anonymous</h5>
                    <p th:text="${comment.text}"></p>
                    <ul>
                        <li th:each="image: ${comment.images}">
                            <img th:src="@{/comments/images/{id}(id=${image.id})}" alt="">
                        </li>
                    </ul>
                    <h5 th:text="${comment.dateOfCreated}"></h5>
                    <h5 th:text="${comment.getNumberOfLikes()} + ' likes'"></h5>
                    <h5 th:text="${comment.getNumberOfDislikes()} + ' dislikes'"></h5>
                    <div th:if="${principal != null}">
                        <form th:method="PATCH" th:action="@{/posts/{id_post}/comments/{id_comment}/like(id_post=${post.id}, id_comment=${comment.id})}">
                            <button type="submit">Like</button>
                        </form>
                        <form th:method="PATCH" th:action="@{/posts/{id_post}/comments/{id_comment}/dislike(id_post=${post.id}, id_comment=${comment.id})}">
                            <button type="submit">Dislike</button>
                        </form>
                    </div>
                    <form th:if="${principal != null}" method="post" th:action="@{/posts/{id_post}/comments/{id_comment}/report(id_post=${post.id}, id_comment=${comment.id})}" th:object="${report}">
                        <label>
                            <textarea th:field="${report.message}"></textarea>
                        </label>
                        <label>
                            <select th:field="${report.complaintType}">
                                <option th:each="value: ${T(com.example.WriteHere.model.report.ComplaintType).values()}"
                                        th:value="${value}"
                                        th:text="${value.displayName}"></option>
                            </select>
                        </label>
                        <button type="submit">New report</button>
                    </form>
                </li>
            </ul>
        </div>
    </body>
</html>