@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
.main {
  margin-top: 100px;
}
@media (max-width: 767px) {
  .main {
    margin-top: 60px;
  }
}

@media (max-width: 1480px) {
  .posts {
    margin-top: -60px;
  }
}
.posts__post {
  margin-bottom: 84px;
}
@media (max-width: 1480px) {
  .posts__post {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .posts__post {
    margin-bottom: 50px;
  }
}
@media (max-width: 581px) {
  .posts__post {
    margin-bottom: 40px;
  }
}

.post__title {
  font-weight: 350;
  font-size: 48px;
  line-height: 30px;
  color: #FFFFFF;
  position: relative;
}
@media (max-width: 1480px) {
  .post__title {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .post__title {
    font-size: 25px;
  }
}
.post__title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  bottom: -15px;
  left: 0;
}
@media (max-width: 767px) {
  .post__title::after {
    bottom: -10px;
  }
}
.post__row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 33px;
}
@media (max-width: 767px) {
  .post__row {
    margin-top: 20px;
  }
}
@media (max-width: 581px) {
  .post__row {
    display: flex;
    flex-direction: column;
  }
}
.post__text {
  font-weight: 350;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
@media (max-width: 1480px) {
  .post__text {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .post__text {
    font-size: 15px;
  }
}
.post__wrapper-img {
  min-width: 600px;
  min-height: 600px;
  max-width: 600px;
  max-height: 600px;
  overflow: hidden;
}
@media (max-width: 1480px) {
  .post__wrapper-img {
    min-width: 400px;
    min-height: 400px;
    max-width: 400px;
    max-height: 400px;
  }
}
@media (max-width: 992px) {
  .post__wrapper-img {
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
  }
}
@media (max-width: 767px) {
  .post__wrapper-img {
    min-width: 250px;
    min-height: 250px;
    max-width: 250px;
    max-height: 250px;
  }
}
@media (max-width: 581px) {
  .post__wrapper-img {
    min-width: 100%;
  }
}
@media (max-width: 581px) {
  .post__wrapper-img {
    margin-top: -30px;
  }
}
.post__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition-duration: 0.3s;
}
.post__img:hover {
  transition-duration: 0.3s;
  transform: scale(1.1);
}
.post__low-row {
  display: flex;
  margin-top: 48px;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .post__low-row {
    margin-top: 30px;
  }
}
@media (max-width: 407px) {
  .post__low-row {
    display: flex;
    flex-direction: column;
  }
}
.post__read-more {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .post__read-more {
    font-size: 20px;
  }
}
.post__read-more:hover {
  text-decoration-line: underline;
}
.post__author {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .post__author {
    font-size: 20px;
  }
}
.post__author:hover {
  text-decoration-line: underline;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

.header {
  height: 80px;
  margin-bottom: 50px;
}
.header__row {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
@media (max-width: 1480px) {
  .header__row {
    margin-top: 20px;
  }
}
@media (max-width: 676px) {
  .header__row {
    margin-top: 15px;
  }
}
@media (max-width: 676px) {
  .header__row {
    display: grid;
    grid-template-columns: 10fr 1fr;
  }
  .header__row .header__field {
    width: 100%;
  }
}
.header__form-button {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
}
@media (max-width: 1480px) {
  .header__form-button {
    top: 15px;
    right: 15px;
  }
}
@media (max-width: 676px) {
  .header__form-button {
    top: 0;
    right: 10px;
  }
  .header__form-button svg {
    width: 40px;
  }
}
.header__form {
  position: relative;
  display: flex;
}
.header__field {
  width: 997px;
  font-size: 36px;
  background-color: #000000;
  outline: 5px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
  align-items: center;
  height: 100px;
  padding-left: 40px;
  transition-duration: 0.3s;
  padding-right: 100px;
}
.header__field:focus {
  transition-duration: 0.3s;
  box-shadow: 0 0 30px 1px #ffffff;
}
@media (max-width: 1480px) {
  .header__field {
    width: 550px;
    height: 80px;
  }
}
@media (max-width: 992px) {
  .header__field {
    width: 400px;
  }
}
@media (max-width: 676px) {
  .header__field {
    height: 50px;
    padding-left: 20px;
    font-size: 20px;
  }
}
.header__button {
  display: none;
}
.header__create {
  width: 238px;
  font-size: 36px;
  color: #ffffff;
  outline: 5px solid #ffffff;
  border-radius: 20px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
}
@media (max-width: 1480px) {
  .header__create {
    height: 80px;
    width: 200px;
  }
}
@media (max-width: 992px) {
  .header__create {
    width: 150px;
  }
}
@media (max-width: 676px) {
  .header__create {
    display: none;
  }
}
.header__create:hover {
  transition-duration: 0.3s;
  background-color: #ffffff;
  outline: 5px solid #ffffff;
  color: #000000;
}
.header__create:hover .header__create-link {
  display: block;
  outline: 5px solid #ffffff;
  color: #000000;
}
.header__create:active {
  color: #ff0000;
  outline: 5px solid #ff0000;
}
.header__below-row_link {
  color: #ffffff;
  background-color: #000000;
}
.header__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  outline: 5px solid #ffffff;
  transition-duration: 0.3s;
}
@media (max-width: 1480px) {
  .header__icon {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 676px) {
  .header__icon {
    height: 50px;
    width: 50px;
  }
  .header__icon svg {
    height: 30px;
  }
}
.header__icon:hover {
  transition-duration: 0.3s;
  background-color: #ffffff;
}
.header__icon:hover a svg path {
  fill: #000000;
}
.header__icon:hover .header__notification-count {
  color: #000000;
  outline: 5px solid #ff0000;
  transition-duration: 0.3s;
  background-color: #ffffff;
}
.header__icon:active {
  transition-duration: 0.3s;
  outline: 5px solid #ff0000;
}
.header__icon:active a svg path {
  fill: #ff0000;
}
.header__notification-wrapper {
  position: relative;
}
@media (max-width: 767px) {
  .header__notification-wrapper {
    display: none;
  }
}
.header__notification-count {
  transition-duration: 0.3s;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: #ff0000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: 5px solid #ffffff;
  font-size: 13px;
  color: #ffffff;
}
.header__below-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.header__below-row_link {
  font-size: 30px;
  color: #ffffff;
}
.header__below-row_link:hover {
  text-decoration: underline;
}

.notifications__item {
  margin-top: 30px;
}
.notifications__title {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 20px;
}
@media (max-width: 1480px) {
  .notifications__title {
    font-size: 25px;
  }
}
.notifications__text {
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 40px;
}
@media (max-width: 1480px) {
  .notifications__text {
    font-size: 18px;
  }
}
.notifications__date {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 30px;
}
.notifications__row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 430px) {
  .notifications__row {
    display: flex;
    flex-direction: column;
    margin-bottom: -20px;
  }
  .notifications__row button {
    margin-bottom: 10px;
    width: 100%;
  }
}
.notifications__row-high {
  margin-top: -100px;
}
@media (max-width: 767px) {
  .notifications__row-high {
    margin-top: -50px;
  }
}
.notifications__button {
  width: 200px;
  height: 40px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  outline: 1px solid #ffffff;
  border-radius: 20px;
  transition-duration: 0.3s;
}
.notifications__button:hover {
  transition-duration: 0.3s;
  background-color: #ffffff;
  color: #000000;
}

.header__return-to-profile {
  color: #ffffff;
  margin-top: 20px;
  width: 200px;
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid #ffffff;
  border-radius: 20px;
  transition-duration: 0.3s;
}
.header__return-to-profile:hover {
  transition-duration: 0.3s;
  background-color: #ffffff;
  color: #000000;
}

.selected-post-title {
  margin-top: -150px;
  margin-bottom: 30px;
}

.images__block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 30px;
}
@media (max-width: 992px) {
  .images__block {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .images__block {
    grid-template-columns: repeat(2, 1fr);
  }
}

.selected-post-img {
  cursor: pointer;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1480px) {
  .selected-post-img {
    height: 200px;
  }
}

.selected-post-main-img {
  max-width: 100%;
  display: none;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
}

.selected-post-main-img._active {
  display: block;
  text-align: center;
}

.images__block-main-button {
  display: none;
}

.images__block-main-button._active {
  display: block;
  z-index: 2;
  cursor: pointer;
}

.comments__post {
  display: none;
}

.comments__post._active {
  display: block;
}

.comments__title {
  color: #ffffff;
  font-size: 60px;
  margin-top: 30px;
}
.comments__posts {
  margin-top: -150px;
  position: relative;
  margin-left: 20px;
}
.comments__posts::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  height: 100%;
  width: 5px;
  background-color: #ffffff;
}
.comments__post {
  margin-top: 20px;
}
.comments__post:first-child {
  margin-top: 200px;
}
.comments__button {
  background-color: #ffffff;
  font-size: 30px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 20px;
}

.comments__button._hidden {
  display: none;
}

.comment__form {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.comment__form-like-button {
  display: none;
}
.comment__form-dislike-button {
  display: none;
}

.info-like-dislike {
  margin-top: 10px;
}

.like-info {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 5px;
}

.dislike-info {
  font-size: 20px;
  color: #ffffff;
}

.profile__name {
  font-size: 30px;
  color: #ffffff;
}

.theme__list {
  margin-top: -100px;
}
.theme__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 30px;
  color: #ffffff;
  border: 2px solid #ffffff;
  transition-duration: 0.3s;
}
.theme__link:hover {
  transition-duration: 0.3s;
  background-color: #ffffff;
  color: #000000;
  border-radius: 20px;
}

.auth {
  display: flex;
  flex-direction: column;
}

.auth-title {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 20px;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-field {
  margin-bottom: 10px;
  border-radius: 10px;
}

.user-field {
  height: 40px;
  font-size: 20px;
  padding: 10px;
}

.auth-button {
  height: 40px;
  font-size: 20px;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 10px;
}

body {
  background-color: #000000;
  font-family: "PT Sans", sans-serif;
}

.wrapper {
  min-height: 100%;
  display: flex;
  margin: 0 10px 0;
  flex-direction: column;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}
@media (max-width: 1480px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}